<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Hydra PHP SDK Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="HYDRA_BASE_URL" value="http://localhost:8080"/>
        <env name="HYDRA_API_KEY" value="pk_test"/>
        <env name="HYDRA_SECRET_KEY" value="sk_test"/>
    </php>
</phpunit>
